# This file controls the tuning and pathing parameters of the uwsgi process.
# You should only change it after knowing precisely what you are doing.

# uwsgi --http :8000 --wsgi-file /opt/harper/harper/wsgi.py --chdir /opt/harper/

[uwsgi]
# Set buffer size so that large sets of data by id 
# Podio Bug 1917
buffer-size = 1048576

# _base directory_ location for the django application
chdir = /opt/harper/

# Worker dies if requests takes longer than this number of seconds
harakiri = 60

# The home for the virtualenv
home = /var/www/harper

# Log to a standard location
logger = file:{{ harper_uwsgi_log_file }}

# Allow for detailed management and stats on workers. 
master = true

# Location of the wsgi.py file as a python module for startup
module = harper.wsgi

# location of the pid file
pidfile = {{ harper_uwsgi_pid}}

# maximum number of workers
processes = 2

# location of the socket file
socket = {{ harper_uwsgi_socket }}

# turn on stats by setting up a socket for it
stats = {{ harper_uwsgi_stats_socket }}

# clean up the virtual env when exiting
vacuum = true
